## gradle
.gradle
build
gradle
gradlew
gradlew.bat

## ForgeGradle
run

## eclipse
eclipse
.settings
.metadata
.classpath
.project
bin
forge-1.7.10-10.13.2.1291-changelog.txt
CREDITS-fml.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
README.txt
src/main/java/com/example/examplemod/ExampleMod.java
MinecraftForge-License.txt
